<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
		ProductMapper.xml
		
		- Product Component의 Business Logic을 구현?
 -->
 
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper파일 최상위 태그 -->		
<mapper namespace="ContactMapper">
	
	<resultMap type="rentalShop" id="rentalShopSelectMap">
		<result property="rentalCode" column="rental_code" jdbcType="NUMERIC"/>
		<result property="rentalName" column="rental_name" jdbcType="VARCHAR"/>
		<result property="latitude" column="latitude" jdbcType="VARCHAR"/>
		<result property="longitude" column="longitude" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="getRentalShopData" parameterType="int" resultMap="rentalShopSelectMap">
		SELECT rental_code, rental_name
		FROM rental_shop
		WHERE gu_code = #{value}
	</select>
	
	<select id="getLocation" parameterType="int" resultMap="rentalShopSelectMap">
		SELECT latitude, longitude
		FROM rental_shop
		WHERE rental_code = #{value}
	</select>
</mapper>